{% extends "base2.html" %}

{% block cuerpo %}

<div class="row"><!--fila en editar-->
          <div class="col-md-4 offset-md-4">
              <h2>Editar Proveedores</h2>
               <!-- Aqui codigo tarjeta -->
              <div class="card"><!-- tarjeta-->
                      <div class="card-body">
                           <form action="/editarProv/" method="post"> {% csrf_token %}<!-- -->
                               <div class="form-group">
                                 <input type="text" id="txtid" name="txtid" value="{{misprov.id_provee}}" class="form-control" minlenght="1" maxlenght="6" readonly required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtidem" name="txtidem" value="{{misprov.id_empleado}}" class="form-control"  minlenght="1" maxlenght="100" required><br>
                                </div>
                                <div class="form-group py-3">
                                    <input type="text" id="txtveh" name="txtveh" value="{{misprov.num_vehiculo}}" class="form-control"  minlenght="1" maxlenght="6" required><br>
                                   </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtidprod" name="txtidprod" value="{{misprov.id_producto}}" class="form-control"  min="1" max="9" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtidsuc" name="txtidsuc" value="{{misprov.id_sucursal}}" class="form-control"  min="1" max="9" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <button type="submit" class="btn btn-dark"> Guardar Proveedor </button><br>
                                </div>
                            </form>
                       </div>
                    </div><!-- tarjeta-->
                <!-- Aqui codigo tarjeta -->
         </div>
</div><!--fila en editar-->

{% endblock %}