{% extends "base2.html" %}

{% load static %}

{% block cuerpo %}

    <div class="row"> <!-- la filas-->
    <div class="col-sm-12 col-md-4 col-lg-4 xl-4"> <!-- Columna izquierda-->
        <h1> Proveedores Coca-Cola </h1>
        <div class="card"><!-- tarjeta-->
          <div class="card-body">
            <form action="registrarProv/" method="post"> {% csrf_token %}<!-- -->
              <div class="form-group">
                <input type="text" id="txtid" name="txtid" placeholder="ID del Proveedor" class="form-control" minlenght="1" maxlenght="6" required><br>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtidem" name="txtidem" placeholder="ID Empleado" class="form-control"  minlenght="1" maxlenght="100" required><br>
              </div>
              <div class="form-group">
                <input type="text" id="txtveh" name="txtveh" placeholder="Numero del vehiculo" class="form-control" min="1" max="9" required><br>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtidprod" name="txtidprod" placeholder="ID Producto" class="form-control"  minlenght="1" maxlenght="100" required><br>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtidsuc" name="txtidsuc" placeholder="ID Sucursal" class="form-control"  minlenght="1" maxlenght="100" required><br>
              </div>
              <div class="form-group py-3">
                <button type="submit" class="btn btn-dark"> Guardar Venta </button><br>
              </div>
            </form>
          </div>
        </div><!-- tarjeta-->
    </div><!-- Columna izquierda-->

    <div class="col-sm-12 col-md-8 col-lg-8 xl-8"> <!-- Columna derecha -->
        <h1> Listado De Proveedores </h1>
        <!-- La tabla -->
        <img class="w-50" src="{% static 'img/prov.jpg' %}" alt="CocaCola">
        <br>
        <br>
        <table class="table table-striped">
            <thead>
              <tr class="table-dark">
                <th scope="col">Id_Proveedor </th>
                <th scope="col">Id_Empleado </th>
                <th scope="col">Num. Vehiculo </th>
                <th scope="col">Id_Producto </th>
                <th scope="col">Id_Sucursal </th>
                <th> Opciones </th>
              </tr>
            </thead>
            <tbody>
              {% for m in misprov %}
              <tr class="table-info">
                <td>
                  {{m.id_provee}}
                </td>
                <td>
                  {{m.id_empleado}}
                </td>
                <td>
                  {{m.num_vehiculo}}
                </td>
                <td>
                    {{m.id_producto}}
                </td>
                <td>
                    {{m.id_sucursal}}
                </td>
                <td> <a href="seleccionarProv/{{m.id_provee}}" class="btn btn-info"> Editar </a> </td> <!--Falta-->
                <td> <a href="borrarProv/{{m.id_provee}}" class="btn btn-danger"> Borrar </a> </td> <!--Falta-->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <!-- La tabla -->
    </div><!-- Columna derecha -->
    </div>
{% endblock %}